body {background:#eee; margin:0; padding:0;font-family: 'Arial',verdana,sans-serif;letter-spacing: 2px;}
h1 {padding: 2em 1em;margin:0;font-size: 4em;background: #333;color: #eee;}
h2 {flex-grow: 1;}
div {display: flex;align-items: center;padding:1em;}
div:nth-child(odd) {background:#ddd;}
