body {background:#eee; margin:0; padding:0;font-family: 'Arial',verdana,sans-serif;letter-spacing: 2px;}
h1 {padding: 2em 1em;margin:0;font-size: 4em;background: #333;color: #eee;text-align: center;}
h2 {flex:1 1 50%;}
div {display: flex;align-items: center;padding:1em;justify-content:center;}
div:nth-child(odd) {background:#ddd;}
